<head>
    <meta charset="utf-8"/>
</head>

<div class="widget-body" id="widget-body-{{ widget_pk }}-mixedChartApex-{{mixedChartApex.pk}}">
    <div class="main-chart-area" style="height:450px; width:100%;">
        <div id="chart-container-{{ widget_pk }}-{{mixedChartApex.pk}}" class="mixedChartApex-container" style="width: 100%; height:100%;"
        data-min='{{mixedChartApex.xMin}}' data-max='{{mixedChartApex.xMax}}'>
            <div class="chartTitle">{{mixedChartApex.title}}</div>
            <div class="chart-placeholder"></div>
            <div id="chart">
            </div>
        </div>
    </div>
</div>